.tweet-card {
  transition: background 0.5s ease;
}

.tweet-card:hover {
  background-color: #fcfaff;
}

.tweet-actions > li {
  display: inline-flex;
  align-items: baseline;
  font-size: 12px;
}

.tweet-action {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
